node_modules
dist
dist-ssr
.git
.DS_Store
*.local
.env
.env.*
!.env.example
coverage
.turbo
.vite
*.log
apps/kasir/src-tauri/target
apps/kasir/src-tauri/gen
apps/api/drizzle/*.sql
!apps/api/drizzle/.gitkeep
**/*.db
**/*.db-journal
apps/kasir/public/sql-wasm.js
apps/kasir/public/sql-wasm.wasm
.idea
.vscode
*.exe
*.dmg
